$color-blanco: #fff;
$color-morado: #9700c9;
$color-azulmorado: #4F4BC1;
$color-azul: #00E9DF;
$color-texto: #707070;
$color-primario: #000;
$color-back1: #EFFFFE;
$color-back2: #A7C5EC;
$color-back3: #343267;
